.form-control {
    width: 250px;
}

#yearOfCar {
    float: right;
    position: absolute;
    top: 80px;
    right: 650px;
}

#typeOfFuel {
    float: right;
    position: absolute;
    top: 0px;
    right: 650px;
}

#countryOfOrigin {
    float: right;
    position: absolute;
    top: 160px;
    right: 650px;
}

#displayFloatRight {
    float: left;
    position: absolute;
    top: 15px;
    right: 100px;
}

#delete {
    margin-left: 20px;
}

#update {
    margin-left: 20px;
}